<ion-view view-title="Añadir publicación">
  <ion-content>
    <div class="list">
      <form name="anadir" novalidate>
        <label class="item item-input">
          <input type="text" placeholder="Título de la publicación" name="titulo" ng-model="form.titulo" required>
        </label>
        <label class="item item-input">
          <textarea placeholder="Descripción" ng-model="form.descripcion" name="descripcion" required></textarea>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Super Categoria
          </div>
          <select ng-model="form.Categori" ng-change="putThings()">
            <option ng-repeat="categoria in categorias" value="{{categoria.idSuperCate}}">{{categoria.Supercate_nombre}}</option>
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Categoría
          </div>
          <select ng-model="form.categoria" name="categoria" required>
            <option ng-repeat="categori in subcate" value="{{categori.idCategorias}}">{{categori.Categorias_nombre}}</option>
          </select>
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Precio de la publicación" ng-model="form.precio" value="" name="precio" required>
        </label>
        <label class="item item-input" ng-if="membre == 2 || membre == 1">
          <input type="text" placeholder="Enlace. Web, facebook ..." ng-model="form.enlace" value="" name="enlace">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Direccion." ng-model="form.direccion" value="" name="direccion">
        </label>

        <label class="item item-input">
          <input type="tel" placeholder="Telefono" ng-model="form.telefono" value="" name="telefono">
        </label>

         <div id="map" data-tap-disabled="true" ng-if="membre == 2 || membre == 1" style="height: 200px"></div>

         <input type="hidden" ng-model="form.lat">
         <input type="hidden" ng-model="form.lon">


        <div class="card"  ng-show="anadir.$invalid">
          <div class="item item-text-wrap" style="background-color: #ef7451;">
            <p style="color: white">* todos los campos son obligatorios</p>
          </div>
        </div>



        <div class="button-bar">

          <button ng-disabled="anadir.$invalid" class="button icon-left ion-upload" ng-click="uploadImage(2)" >Continuar</button>

        </div>
      </form>

    </div>
  </ion-content>
</ion-view>
