<ion-view view-title="Comprobante de pago" >
  <ion-content has-header="true" padding="true" style="background-color: #E8EAF6">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Codigo de pago</span>
        <input type="text" ng-model="form.codigo" placeholder="Referencia del pago bancario">
      </label>
      <label class="item item-input">
        <span class="input-label">Cedula</span>
        <input type="number" ng-model="form.cedula" placeholder="123456789">
      </label>
      <label class="item item-input">
        <span class="input-label">Banco</span>
        <input type="text" ng-model="form.banco" placeholder="Banco de la transaccion">
      </label>
      <label class="item item-input">
        <span class="input-label">Monto de pago</span>
        <input type="number" ng-model="form.pago" placeholder="Basico: $34.20; Oro: 68,40">
      </label>
    </div>
    <button ng-click="guardar(form)" class="button button-block button-positive">
      Enviar
    </button>
  </ion-content>
</ion-view>
