<ion-view view-title="Resultados">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="p in pub" href="#/app/publicacion/{{p.idPublicaciones}}" style="width: 100%;">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%;">
          <div class="mdl-card__title" style="background: url('https://tuguia.com.ec/uploads/{{p.FotoPubEnlace}}') center / cover;background-size: 100% 100%;">
            <h2 class="mdl-card__title-text fondoTrans" >{{p.PublicacionesTitulo}}</h2>
          </div>
          <div class="mdl-card__supporting-text" style="background-color: #304775; width: 100%; color: white; font-size: 21px;">
            Ver mas >
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
