<ion-view view-title="Categorias" >
  <ion-content style="background-color: #E8EAF6">
    <div class="list list-inset item-input-inset" style="padding: 0px; margin: 0px;">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar" ng-model="bus">
      </label>
      <button class="button button-royal" style="background-color:gold" ng-click="buscar(bus)">
        Buscar
      </button>
    </div>

    <ion-slide-box ng-if='oros' show-pager="true" style="width:100% !important" option="options" on-slide-changed="slideHasChanged($index)" auto-play="true" slide-interval="4000" does-continue="true">
      <ion-slide ng-repeat="oro in oros" lazy-scroll-resize="true" image-lazy-loader="lines" style="width:100%" show-pager="false">
        <a style="text-decoration: none" href="#" style="width: 100%;">

          <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%;">
            <div class="mdl-card__title" style="background: url('https://tuguia.com.ec/uploads/{{oro.FotoPerfilEnlace}}') center / cover;background-size: 100% 100%;">
              <h2 class="mdl-card__title-text fondoTrans" ></h2>
            </div>

            <div class="mdl-card__supporting-text" style="background-color: #304775; width: 100%; color: white; font-size: 21px;">

            </div>
          </div>

        </a>
      </ion-slide>

    </ion-slide-box>
    <div class="row unlimited-items">
        <div class="categorias" ng-repeat="categoria in categorias">
          <a href="#/app/sub/{{categoria.idSuperCate}}">
            <div class="foto">
              <img class="imagen" ng-src="https://tuguia.com.ec/uploads/{{categoria.SupercateEnlace}}" style="width: 100%; height: 100%">
              <p>{{categoria.Supercate_nombre}}</p>
            </div>
          </a>
        </div>
    </div>
  </ion-content>
</ion-view>

