<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="d in con" type="item-text-wrap" href="#/app/chatdetail/{{d.ChatConUserTo}}">
        <img ng-src="{{}}">
        <h2>{{d.UsuariosNombre}}</h2>
        <p ng-if="d.ConexionChatEstado === 1">activo</p>
        <p ng-if="d.ConexionChatEstado === 0">Desconectado</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
