<ion-view view-title="Cuenta">
  <ion-content>
    <h2 style="text-align: center">Datos básicos</h2>
    <div class="list" >
      <label class="item item-input">
        <input type="text" placeholder="Nombre" ng-model="form.nom">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Apellido" ng-model="form.ape">
      </label>

      <label class="item item-input">
        <input type="email" placeholder="Correo electrónico" ng-model="form.cor">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Nombre de la empresa" ng-model="form.nomEmp">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Dirección" ng-model="form.dirEmp">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Provincia
        </div>
        <select ng-model="provincia" ng-change="provCiu(provincia)">
          <option ng-repeat="p in provincias" value="{{p.idProvincias}}">{{p.Provincia_nombre}}</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Ciudad
        </div>
        <select ng-model="form.ciuEmp" >
          <option ng-repeat="c in ciudades" value="{{c.idCiudad}}">{{c.Ciudad_nombre}}</option>
        </select>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Telefono de la empresa" ng-model="form.telEmp">
      </label>
    </div>
    <h3 style="text-align: center">Actualizar ubicación</h3>
    <p style="margin-left: 10px">Arrastra el puntero hasta la ubicación exacta de tu empresa</p>
    <div id="map" data-tap-disabled="true" style="height: 50%"></div>
    <div class="button-bar">
      <button class="button button-balanced" ng-click="actualizar()">Actualizar anteriores</button>
    </div>
    <div class="item item-divider">
      Foto Perfil
    </div>
    <div ng-repeat="f in fotos"><img  ng-click="loadImage(f.idFotoPerfil)" ng-src="https://tuguia.com.ec/uploads/{{f.FotoPerfilEnlace}}"  style="width: 100%; height: 200px;"></div>
    <button ng-if="numFotos == 0" class="button button-balanced" ng-click="loadImage(0)" style="width:100%;">Añadir Foto nueva</button>

    <h3 style="text-align: center">Cambiar Contraseña</h3>
    <div class="list">
      <label class="item item-input">
        <input type="password" placeholder="Digite la nueva contraseña" ng-model="contrasena">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Repita la nueva contraseña" ng-model="recontrasena">
      </label>
      <div class="button-bar">
        <button class="button button-balanced" ng-click="cambiarContra(contrasena, recontrasena)">Actualizar contraseña</button>
      </div>
    </div>





<!--
    <ion-footer-bar class="bar bar-positive">
      <div class="button-bar">
        <button class="button icon-left ion-camera" ng-click="loadImage()">Escoger imagen</button>
        <button class="button icon-left ion-upload" ng-click="uploadImage()" ng-disabled="image === null">Guardar</button>

      </div>
    </ion-footer-bar>
-->
  </ion-content>
</ion-view>
