<ion-view view-title="Descripcion de su membresia">
  <ion-content>
    <ul class="list" ng-if="mem == 1">
      <li class="item">
        6 Imagenes para publicidad
      </li>
      <li class="item">
        4 imagenes para promociones
      </li>
      <li class="item">
        Ubicacion prioritaria de su publicacion
      </li>
      <li class="item">
        Email de contacto
      </li>
      <li class="item">
        Chat con el cliente
      </li>
    </ul>

    <ul class="list" ng-if="mem == 2">
      <li class="item">
        4 Imagenes para publicidad
      </li>
      <li class="item">
        2 imagenes para promociones
      </li>
      <li class="item">
        Direccion por gps
      </li>
      <li class="item">
        Email de contacto
      </li>
      <li class="item">
        Descripcion del anuncio
      </li>
      <li class="item">
        Chat con el cliente
      </li>
    </ul>

    <ul class="list" ng-if="mem == 3">
      <li class="item">
        1 Imagenes para publicidad
      </li>
      <li class="item">
        1 imagenes para promociones
      </li>
      <li class="item">
        Direccion por gps
      </li>
      <li class="item">
        Descripcion del anuncio
      </li>

    </ul>
  </ion-content>
</ion-view>
