<ion-view hide-back-button="true" hide-nav-bar="true" can-swipe-back="false" cache-view="false">
  <ion-header-bar align-title="center" class="bar-energized" ng-click="scrollTop()">
    <h1 class="title">Group Details</h1>
    <button class="button button-clear" ng-click="back()">Close</button>
  </ion-header-bar>
  <ion-content class="has-footer">
    <div class="margin-top20 text-center">
      <img id="groupPic" class="groupDetailsPic" imageonload="constrainProportion()" ng-src="{{group.image}}" ng-click="changeGroupPic()" />
      <h4 class="font-bold"><span class="inline-icon"><i class="icon ion-chatboxes energized"></i></span> {{group.name}}</h4>
      <h4 class="font-bold">Last Active: {{group.messages[group.messages.length - 1].date}}</h4>
      <h4 class="font-bold">Messages: {{group.messages.length}}</h4>
    </div>
    <div ng-show="mode == 'Group'">
      <div class="margin-left10 text-left">
        <h4 class="font-bold margin-bottom-5"><span class="inline-icon"><i class="icon ion-ios-people energized"></i></span> Members: {{group.users.length}}</h4>
        <div class="row" ng-repeat="user in group.users">
          <ion-item class="item-avatar clear-border clear-margin">
            <img ng-src="{{user.profilePic}}">
            <h2 class="font-bold">{{user.name}}</h2>
            <p class="font-bold float-left">@{{user.username}}</p>
          </ion-item>
        </div>
      </div>
      <div class="row margin-top-10">
        <div class="col">
          <ion-item class="item-icon-left clear-border clear-margin" ng-click="addMember()">
            <i class="icon ion-person-add energized"></i>
            <h2 class="font-bold">Add Member</h2>
          </ion-item>
        </div>
      </div>
    </div>
    <div ng-show="mode == 'Add'">
      <div class="row margin-bottom-15">
        <div class="col col-75 clear-padding-margin">
          <label class="item item-input item-searchbar">
            <i class="icon ion-ios-search"></i>
            <input type="text" placeholder="Search for people or username" ng-model="friendSearch" />
          </label>
        </div>
        <div class="col col-25 clear-padding-margin">
          <div class="button-bar margin-left20">
            <button class="button button-clear button-energized" ng-click="friendSearch = undefined"><i class="icon ion-android-close"></i></button>
          </div>
        </div>
      </div>
      <div class="row" ng-repeat="friend in friends | friendFilter: friendSearch | orderBy: 'name'">
        <div class="col clear-padding-margin">
          <ion-item class="item-avatar clear-border" ng-click="addToGroup(friend)">
            <img ng-src="{{friend.profilePic}}">
            <h2 class="font-bold">{{friend.name}}<div class="online-on" ng-if="friend.online"></div></h2>
            <p class="font-bold">@{{friend.username}}</p>
          </ion-item>
        </div>
      </div>
      <div class="row margin-top-10">
        <div class="col">
          <ion-item class="item-icon-left clear-border clear-margin" ng-click="cancelAddMember()">
            <i class="icon ion-person-add energized"></i>
            <h2 class="font-bold">Cancel Add Member</h2>
          </ion-item>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-energized" >
    <h1 class="title" ng-click="leaveGroup()" ng-if="group.users.length > 1">Leave Group</h1>
    <h1 class="title" ng-click="deleteGroup()" ng-if="group.users.length <= 1">Delete Group</h1>
  </ion-footer-bar>
</ion-view>
