<ion-view view-title="Chat">
  <ion-content>
    <div class="demo-list-action mdl-list">
      <div class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">person</i>
          <span>Bryan Cranston</span>
        </span>
            <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
          </div>
          <div class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">person</i>
          <span>Aaron Paul</span>
        </span>
            <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
          </div>
          <div class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">person</i>
          <span>Bob Odenkirk</span>
        </span>
        <span class="mdl-list__item-secondary-content">
          <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
        </span>
      </div>
    </div>
  </ion-content>
</ion-view>
