<ion-view hide-back-button="true" hide-nav-bar="true">
  <ion-content class="padding bg">
    <div class="list text-center padding">
      <img class="logo" src="img/logo.png">
    </div>
    <div class="list text-center padding">
      <p class="larger-clear input_txt">Tuguia © 2017</p>
    </div>
  </ion-content>
</ion-view>
