<ion-view view-title="Oro" >
  <ion-content has-header="true" padding="true" style="background-color: #E8EAF6">
    <h3>Elegir metodo de pago</h3>
    <div class="list card">

      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="9N5Y98SCB9EUN">
        <table>
          <tr><td><input type="hidden" name="on0" value="{{idPub}}"></td></tr><tr><td><input type="hidden" name="os0" maxlength="200" value="{{idPub}}"></td></tr>
        </table>
        <input type="image" ng-click="reiniciar()" style="width: 100%; height: 50px;" src="img/paypal-logo.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" style="width: 100%" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
      </form>
      <button ng-click="banco(1)" class="button button-balanced" style="width: 100%; margin-top: 20px">
        Pago bancario
      </button>
    </div>
    <div class="list card">
      <h5 style="margin-left: 20px">Datos bancarios para pagos por transaccion</h5>
      <ul class="list">
        <li class="item">
          Banco Pichincha: # 3253023300 – Ahorros
        </li>
        <li class="item">
          Banco Bolivariano: # 5085004794 – Corriente
        </li>
        <li class="item">
          Banco Pacifico: # 1039478319 –  Ahorros
        </li>
        <li class="item">
          Fabián Cevallos –Tu guía
        </li>
      </ul>
    </div>
  </ion-content>
  <div class="bar bar-footer" style="background-color: #304775">
    <button class="button button-clear" style="color: white" ng-click="inicio()">Ir a categorias</button>
  </div>
</ion-view>
