<ion-view view-title="Membresia">
  <ion-content>

      <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
        <div class="mdl-card__title" >
          <img src="img/plan_oro.png" style="width: 100%; height: 100%;">
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="membresia(1)">
            Empezar membresia
          </button>
        </div>

      </div>

      <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
        <div class="mdl-card__title" >
            <img src="img/plan_BASICO.png" style="width: 100%; height: 100%;">
        </div>


        <div class="mdl-card__actions mdl-card--border">
          <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="membresia(2)">
            Empezar membresia
          </button>
        </div>
      </div>

  </ion-content>
</ion-view>
