<ion-side-menus enable-menu-with-back-views="false" >
  <ion-side-menu-content >
    <ion-nav-bar class="bar-energized" >
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" style="background-color: #304775">
    <ion-header-bar class="bar-stable" style="height: 250px; background-color: #304775;" >
      </br></br>
      <div  style="width: 100%">
        <div class="row responsive-sm" style="width: 100%">
          <img src="img/lupa.png" class="col" style="width: 150px; height:150px; margin: auto;">
        </div>
      </div>

    </ion-header-bar >
    <ion-content style="margin-top: 200px;">
      <ion-list class='mdl-list' style="background-color: #304775">
        <ion-item  class="mdl-list__item" menu-close ng-click="login()" ng-show="lo" style="background-color: #C5CAE9">
          <span style="width: 100%" class="mdl-list__item-primary-content">Iniciar sesión</span>
        </ion-item>
        <ion-item  class="mdl-list__item" menu-close ng-repeat="m in menu" href="{{m.enlace}}" style="background-color: #C5CAE9">
           <span style="width: 100%" class="mdl-list__item-primary-content">{{m.titulo}}</span>
        </ion-item>
        <ion-item  class="mdl-list__item" menu-close ng-click="logout()" ng-show="!lo" style="background-color: #C5CAE9">
           <span style="width: 100%" class="mdl-list__item-primary-content">Cerrar sesión</span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
