<ion-view view-title="Modificar publicación">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Título de la publicación" ng-model="form[0].PublicacionesTitulo" value="">
      </label>
      <label class="item item-input">
        <textarea placeholder="Descripción" ng-model="form[0].PublicacionesDescripcion"></textarea>
      </label>
      <label class="item item-input" ng-if="mem == '2' || mem == '1'">
        <input type="text" placeholder="Enlace. Web, facebook ..." ng-model="form[0].PublicacionesEnlace" value="">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Super Categoria
        </div>
        <select ng-model="form[0].PublicacionesCategori" ng-change="putThings()" required>
          <option ng-repeat="categoria in categorias" value="{{categoria.idSuperCate}}">{{categoria.Supercate_nombre}}</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Categoría
        </div>
        <select ng-model="form[0].PublicacionesCategoria" required>
          <option ng-repeat="categori in subcate" value="{{categori.idCategorias}}">{{categori.Categorias_nombre}}</option>
        </select>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Precio de la publicación" ng-model="form[0].PublicacionesPrecio" value="">
      </label>
    </div>
    <div class="list" ng-if="membre == 1 || membre == 2">
      <ion-checkbox ng-checked="form[0].PublicacionPromocion == 1" ng-model="form[0].PublicacionPromocion" >Asignar como promocion</ion-checkbox>
    </div>
    <label class="item item-input" >
      <input type="text" placeholder="Direccion."  ng-model="form[0].publicacionesDir" value="" name="direccion" required>
    </label>

    <label class="item item-input">
      <input type="tel" placeholder="Telefono"  ng-model="form[0].publicacionesTel" value="" name="telefono" required>
    </label>

      <div id="map" data-tap-disabled="true" ng-if="membre == 2 || membre == 1" style="height: 200px"></div>

      <input type="hidden" ng-model="form[0].publicacionesLat">
      <input type="hidden" ng-model="form[0].publicacionesLon">
    <button style="width: 100%"   class="button button-assertive" ng-click="mod()">
      Guardar Datos
    </button>

    <div class="item item-divider">
      Fotos Publicaciones
    </div>

    <div ng-repeat="f in fotos"><img  ng-click="loadImage(f.idFotoPub, 0)" ng-src="https://tuguia.com.ec/uploads/{{f.FotoPubEnlace}}"  style="width: 100%; height: 200px;"></div>
    <button class="button button-balanced" ng-if="mem == '3' && numFotos == 0 " ng-click="loadImage(0, 0)" style="width:100%; background-color: #f46a0c">Añadir Foto nueva</button>
    <button class="button button-balanced" ng-if="mem != '3'" ng-click="loadImage(0, 0)" style="width:100%; background-color: #f46a0c">Añadir Foto nueva</button>

    <div ng-if="mem != 3">
      <div class="item item-divider">
        Fotos Promociones
      </div>

      <div ng-repeat="p in promociones">
        <img  ng-click="loadImage(p.idFotosPromosion, 1)" ng-src="https://tuguia.com.ec/uploads/{{p.FotosPromosionEnlace}}"  style="width: 100%; height: 200px;">
      </div>
      <button class="button button-balanced"  ng-click="loadImage(0, 1)" style="width:100%; background-color: #f46a0c">Añadir Foto nueva</button>
    </div>

    <button class="button button-block button-energized" ng-if="mem != '3'" ng-click="pagar()">
      Proceder a pagar
    </button>

  </ion-content>
</ion-view>

