<ion-view view-title="Mis publicaciones">
  <ion-content>

    <button ng-click="add()" style="width: 100%; background-color: #f46a0c" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
      Añadir
    </button>


    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style="width:100%;">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Publicacion</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in datos">
          <td class="mdl-data-table__cell--non-numeric">
            {{data.PublicacionesTitulo}}
            <span ng-if="data.publicacionesMembresia == 1" style="background-color: #efd057" class="badge badge-assertive">Oro</span>
            <span ng-if="data.publicacionesMembresia == 2" style="background-color: #97ef6e" class="badge badge-assertive">Basico</span>
            <span ng-if="data.publicacionesMembresia == 3" style="background-color: #c62828" class="badge badge-assertive">Gratis</span>
          </td>
          <td ng-if="data.publicacionesMembresia != '' && data.publicacionesMembresia != 0 && data.publicacionesFecha != '' || data.publicacionesMembresia == '3' "><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--Purple" ng-href="#/app/modpublicaciones/{{data.idPublicaciones}}/{{data.publicacionesMembresia}}">Editar</a></td>

          <td ng-if="data.publicacionesMembresia == 'null' || data.publicacionesMembresia == 0 || data.publicacionesFecha == ''">
            <a ng-if="data.publicacionesMembresia == 1 && data.publicacionesMembresia == 'null'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--Purple" ng-href="#/app/oro/{{data.idPublicaciones}}">Editar</a>
            <a ng-if="data.publicacionesMembresia == 2 && data.publicacionesMembresia == 'null'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--Purple" ng-href="#/app/basica/{{data.idPublicaciones}}">Editar</a>

            <a ng-if="data.publicacionesMembresia == 1 && data.publicacionesMembresia != 'null'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--Purple" ng-href="#/app/oro/{{data.idPublicaciones}}">Editar</a>
            <a ng-if="data.publicacionesMembresia == 2 && data.publicacionesMembresia != 'null'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--Purple" ng-href="#/app/basica/{{data.idPublicaciones}}">Editar</a>
          </td>
        </tr>
      </tbody>
    </table>



  </ion-content>
</ion-view>
