<ion-view view-title="Perfil">
  <ion-content>
    <h5>Arrastra el marcador hasta la ubicacion que desees</h5>
    <div id="map" data-tap-disabled="true" style="height: 50%"></div>


    <img ng-src="{{pathForImage(image)}}" style="width: 100%; height: 50%;">


  <ion-footer-bar class="bar bar-positive">
    <div class="button-bar">
      <button class="button icon-left ion-camera" ng-click="loadImage()">Escoger Logo</button>
      <button class="button icon-left ion-upload" ng-click="uploadImage()" ng-disabled="image === null">Guardar</button>
    </div>
  </ion-footer-bar>
</ion-view>
