<ion-view view-title="Perfil Prestador">
  <ion-content>
    <ion-list>

      <div class="item item-divider">
        Promociones
      </div>
      <ion-item ng-repeat="pro in promociones"  style="width: 100%;">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
          <div class="mdl-card__title" style="background: url('https://tuguia.com.ec/uploads/{{pro.FotosPromosionEnlace}}') center / cover;">
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
