<ion-view view-title="Prestador servicios">
  <ion-content>

    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Nombre de la empresa" ng-model="prestador.nombre">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="RUC de la empresa" ng-model="prestador.nit">
      </label>


      <button class="button button-assertive" ng-click="siguiente()">
        SIGUIENTE
      </button>

    </div>
  </ion-content>
</ion-view>
