<ion-view hide-back-button="true" hide-nav-bar="true" can-swipe-back="false">
  <ion-header-bar align-title="center" class="bar-energized">
    <h1 class="title">Profile</h1>
  </ion-header-bar>
  <ion-content class="padding has-footer">
    <div class="row">
      <div class="col" style="text-align: center;">
        <img ng-src="{{profile.profilePic}}" id="profilePic" class="profileProfilePic" imageonload="constrainProportion()" ng-click="changeProfilePic()"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="list">
          <label class="item item-input clear-border margin-bottom-10">
            <span class="input-label profile-inline-icon">  <i class="icon ion-person energized"></i>&nbsp;&nbsp;Nombre : </span>
            <input disabled class="disabled-input-style" name="name" type="text" ng-model="profile.name" placeholder="Name">
          </label>
          <label class="item item-input clear-border margin-bottom-10">
            <span class="input-label profile-inline-icon"><i class="icon ion-at energized"></i>&nbsp;&nbsp;Usuario : </span>
            <input disabled class="disabled-input-style" name="name" type="text" ng-model="profile.username" placeholder="Username">
          </label>
          <label class="item item-input clear-border margin-bottom-10">
            <span class="input-label profile-inline-icon"><i class="icon ion-calendar energized"></i>&nbsp;&nbsp;Fecha :</span>
            <input disabled class="disabled-input-style" name="name" type="text" ng-model="profile.date" placeholder="Member Since">
          </label>

        </div>
      </div>
    </div>
    </div>
    <div class="row" style="padding: 10px;">
    <br>
    <div class="button-bar input_rounded">
      <button class="button button-clear button-energized  right_butt" ng-click="changeTab('friends', 2)"><i class="icon ion-android-create"></i>&nbsp;&nbsp;<b>Edit Profile</b></button>
      <button class="button button-clear button-energized  input_txt" ng-click="logout()"><i class="icon ion-log-out"></i>&nbsp;&nbsp;<b>Logout</b></button>
    </div>
    </div>
  </ion-content>
  <div ng-include src="'templates/tabs/tabs.html'"></div>
</ion-view>
