<ion-view view-title="Promociones">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="p in promociones" ng-click="publicacion(p.FotosPromosionEmpresa)" style="width: 100%;background-size: 100% 100%;">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
          <div class="mdl-card__title" style="background: url('https://tuguia.com.ec/uploads/{{p.FotosPromosionEnlace}}') center / cover;">
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
