<ion-view view-title="Publicaciones">
  <ion-content>

    <ion-list>
      <ion-item ng-repeat="publicacion in publicaciones" href="#/app/publicacion/{{publicacion.idPublicaciones}}" style="width: 100%;">

        <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:100%;">
          <div class="mdl-card__title" style="background: url('https://tuguia.com.ec/uploads/{{publicacion.FotoPubEnlace}}') center / cover;background-size: 100% 100%;">
            <h2 class="mdl-card__title-text fondoTrans" >{{publicacion.PublicacionesTitulo}}</h2><h2 ng-if="publicacion.PublicacionPromocion == '1'" class="mdl-card__title-text fondoTransSpan" style="margin-left: 5px">Promocion</h2>
          </div>
          <div class="mdl-card__supporting-text" style="background-color: #304775; width: 100%; color: white; font-size: 21px;">
            Ver mas >
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item ng-repeat="pub in gratis" href="#/app/publicacion/{{pub.idPublicaciones}}" style="width: 100%;">

        <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:100%;">
          <div class="mdl-card__title" style="background: url('https://tuguia.com.ec/uploads/{{pub.FotoPubEnlace}}') center / cover;background-size: 100% 100%;">
            <h2 class="mdl-card__title-text fondoTrans" >{{pub.PublicacionesTitulo}}</h2><h2 ng-if="pub.PublicacionPromocion == '1'" class="mdl-card__title-text fondoTransSpan" style="margin-left: 5px">Promocion</h2>
          </div>
          <div class="mdl-card__supporting-text" style="background-color: #304775; width: 100%; color: white; font-size: 21px;">
            Ver mas >
          </div>
        </div>
      </ion-item>
    </ion-list>
    <div class="card" ng-if="publicaciones.length == 0 && gratis.length == 0">
    <div class="item item-text-wrap">
      No hay publicaciones en esta zona
    </div>
  </div>
  </ion-content>
  
</ion-view>
