<ion-view view-title="{{titulo}}">
  <ion-content>

    <div style="height: 40%;">
      <ion-slides  options="options" slider="data.slider" >
        <ion-slide-page ng-repeat="f in fotos" style="background: url('https://tuguia.com.ec/uploads/{{f.FotoPubEnlace}}') center / cover; background-size: 100% 100%;">
        </ion-slide-page>
      </ion-slides>
    </div>
    <div ng-repeat="d in datos">

      <div class="card">
        <div class="item item-text-wrap">
          {{d.PublicacionesDescripcion}}
        </div>
      </div>

      <div class="list card">

        <li href="#" class="item item-icon-left">
          <i class="icon ion-home"></i>
          {{d.EmpresaNombre}}
        </li>

        <li href="#" class="item item-icon-left">
          <i class="icon ion-compose"></i>
          {{d.EmpresaCorreo}}
        </li>

        <li href="#" class="item item-icon-left">
          <i class="icon ion-map"></i>
          {{d.Ciudad_nombre}} {{d.Provincia_nombre}}
        </li>

        <li ng-if="vchat" class="item item-icon-left"><a href="https://{{d.PublicacionesEnlace}}"  >
          <i class="icon ion-cloud"></i>
          {{d.PublicacionesEnlace}}</a>
        </li>

        <li href="#" class="item item-icon-left">
          <i class="icon ion-cash"></i>
          {{d.PublicacionesPrecio}}
        </li>

        <li href="#" class="item item-icon-left">
          <i class="icon ion-arrow-graph-up-right"></i>
          {{d.publicacionesDir}}
        </li>

        <li href="#" class="item item-icon-left">
          <i class="icon ion-android-call"></i>
          {{d.publicacionesTel}}
        </li>

      </div>
        <a style="width: 100%; height: 20px; margin-bottom: 10px; background-color: #f46a0c" href="#/app/perfilprestador/{{d.idPublicaciones}}" class="button button-energized">ver mas promociones de {{d.EmpresaNombre}}</a>
        <button style="width: 100%; height: 20px;" ng-if="vchat" ng-click="irChat()" class="button button-energized">Iniciar chat</button>

    </div>

    <div ng-if="vchat">
      <h3  style="text-align: center">Ubicacion Geografica</h3>
      <ui-gmap-google-map center='map.center' events="map.events" zoom='map.zoom'>
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>



    <div class="list card">
      <h3>Calificacion</h3>
      <form>
        <p class="clasificacion">
          <input id="radio1" type="radio" ng-click="calificar(5)" ng-model="estrella" ng-value="5"><!--
      --><label style="font-size: 40px" for="radio1">★</label><!--
      --><input id="radio2" type="radio" ng-click="calificar(4)" ng-model="estrella" ng-value="4"><!--
      --><label style="font-size: 40px" for="radio2">★</label><!--
      --><input  id="radio3" type="radio" ng-click="calificar(3)" ng-model="estrella" ng-value="3"><!--
      --><label style="font-size: 40px" for="radio3">★</label><!--
      --><input id="radio4" type="radio" ng-click="calificar(2)" ng-model="estrella" ng-value="2"><!--
      --><label style="font-size: 40px" for="radio4">★</label><!--
      --><input  id="radio5" type="radio" ng-click="calificar(1)" ng-model="estrella" ng-value="1"><!--
      --><label style="font-size: 40px" for="radio5">★</label>
        </p>
      </form>
    </div>


  </ion-content>

</ion-view>


