<ion-header-bar>
  <h1 class="title">Recuperar contraseña</h1>

</ion-header-bar>
<ion-content>
  <form ng-submit="doLogin()">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Digite el correo electrónico con el que se registro</span>
        <input type="email" ng-model="correo">
      </label>
      <label class="item">
        <button class="button button-block button-positive" ng-click="recuperar(correo)" >Recuperar</button>
      </label>

    </div>
  </form>
</ion-content>
