<ion-view view-title="Registro">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Nombre" ng-model="registro.nombre" required>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Apellido" ng-model="registro.apellido" required>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Telefono" ng-model="registro.telefono" required>
      </label>
      <label class="item item-input">
        <input type="number" placeholder="Identificacion" ng-model="registro.dni" required>
      </label>
      <label class="item item-input">
        <input type="email" placeholder="Correo electrónico" ng-model="registro.correo" required size="6">
      </label>
      <label class="item item-input">
        <input type="email" placeholder="Repetir Correo electrónico" ng-model="registro.recorreo" required size="6">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Dirección" ng-model="registro.direccion" required>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Provincia
        </div>
        <select ng-model="registro.provincia" ng-change="provCiu()" required>
          <option ng-repeat="p in provincias" value="{{p.idProvincias}}">{{p.Provincia_nombre}}</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Ciudad
        </div>
        <select ng-model="registro.ciudad" required>
          <option ng-repeat="c in ciudades" value="{{c.idCiudad}}">{{c.Ciudad_nombre}}</option>
        </select>
      </label>

      <label class="item item-input">
        <input type="password" placeholder="Contraseña" ng-model="registro.contra" required>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Contraseña" ng-model="registro.recontra" required>
      </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Tipo de usuario
          </div>
          <select ng-model="registro.usuario" required>
            <option value="1">Cliente</option>
            <option value="2" selected>Prestador de servicios</option>
          </select>
        </label>
      </div>

      <button class="button button-assertive" ng-click="salvar()">
        REGISTRAR
      </button>

    </div>
  </ion-content>
</ion-view>
