<ion-view hide-back-button="true" hide-nav-bar="true">
  <ion-content class="padding bg">
    <div class="list text-center padding" style="margin: 30px 0 40px 0;">
      <img class="profilePic margin-top0" style="width: 96px; height: 96px;" ng-src="{{profilePic}}">
    </div>
    <form name="registerForm" novalidate ng-submit="registerForm.$valid && register(user)">
      <div class="list margin-top-20">
        <label class="item item-input item-clear margin-bottom10 input_rounded">
          <span class="input-label font-bold input_txt">Psudo</span>
          <input class="input_txt" name="username" type="text" ng-model="user.username" placeholder="Username" ng-minlength="5" ng-maxlength="30" required>
        </label>
        <label class="item item-input item-clear margin-bottom10 input_rounded">
          <span class="input-label font-bold input_txt">Full Name</span>
          <input class="input_txt" name="name" type="text" ng-model="user.name" placeholder="Name" ng-minlength="5" ng-maxlength="30" required>
        </label>
        <label class="item item-input item-clear margin-bottom10 input_rounded">
          <span class="input-label font-bold input_txt">Email</span>
          <input class="input_txt" name="email" type="email" ng-model="user.email" placeholder="Email" ng-minlength="5" ng-maxlength="30" required>
        </label>
        <label class="item item-input item-clear input_rounded">
          <span class="input-label font-bold input_txt">Password</span>
          <input class="input_txt" name="password" type="password" ng-model="user.password" placeholder="Password" ng-minlength="5" ng-maxlength="30" required>
        </label>
      </div>
    </form>
    <div class="button-bar input_rounded">
      <button class="button button-energized right_butt" ng-click="back()" style="border-radius: 25px 0px 0px 25px;">Login</button>
      <button class="button button-energized input_txt" ng-click="register(user)" ng-disabled="registerForm.$invalid" style="border-radius: 0px 25px 25px 0px;">Register</button>
    </div>
    <div class="list text-center padding">
      <p class="larger-clear input_txt">IonChat © 2016</p>
    </div>
  </ion-content>
</ion-view>
