<ion-view view-title="Categorias" >
  <ion-content>

    <ion-list>
      <ion-item ng-repeat="categoria in categorias" href="#/app/publicaciones/{{categoria.idCategorias}}">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
          <div class="mdl-card__title" style="background: url('https://tuguia.com.ec/uploads/{{categoria.CategoriaEnlace}}') center / cover;">
            <h2 class="mdl-card__title-text fondoTrans">{{categoria.Categorias_nombre}}</h2>
          </div>
          <div class="mdl-card__supporting-text" style="background-color: #304775; width: 100%; color: white; font-size: 21px;">
            Publicaciones
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
