<ion-footer-bar class="margin-left-5" style="padding: 0px;">
  <ion-tabs class="tabs-icon-top tabs-energized">
    <ion-tab icon-off="ion-ios-chatbubble-outline" title="Mensajes" badge="unreadMessages" badge-style="badge-clear" icon-on="ion-ios-chatbubble" ng-click="changeTab('messages')">
      <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-off="ion-ios-search" title="Contactos" badge="friendRequestsCount" badge-style="badge-clear" icon-on="ion-search" ng-click="changeTab('friends')">
      <ion-nav-view name="tab-favorites"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-off="ion-ios-person-outline" icon-on="ion-ios-person" title="Perfil" ng-click="changeTab('profile')">
      <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-footer-bar>
