.image-list-thumb {
  padding: 2px 2px 2px 2px;
  height: 100px;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.transparent {
  background: transparent !important;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.slider {
  width: 100%;

}
.col:last-child {
  /*border-right: solid 1px grey;*/
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;

}
.demo-card-wide > .mdl-card__menu {
  color: #fff;

}
.demo-layout-transparent {
  background: url('../assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.row.unlimited-items {
  flex-wrap: wrap;
}

.row.unlimited-items .col{
  padding: 0px;
  width: 30%;

  margin-right: 1%;
  margin-top: 3%;
}

.categorias{
  margin:3%;
  width: 27%;
  height: 100px;
  position:relative;
}

.imagen{
  border-radius: 20px;
}

.foto{
  height: 100%;
  position:relative;
}

.foto img{
  width:100%;
}

.foto p{
  position:absolute;
  bottom:5px;
  width:100%;
  text-align:center;
  color:rgba(243,243,243,.8);
  font-family:Verdana;
  font-size:8px;
  font-style: italic;
  background-color:rgba(0,0,0,.7);
  padding:.1em 0;
}

/* estilos estrellas */

label{ color:grey;}

input[type = "radio"]{ display:none;}

.clasificacion{
  direction: rtl;/* right to left */
  unicode-bidi: bidi-override;/* bidi de bidireccional */
}

label:hover{color:orange;}

label:hover{color:orange;}

input[type = "radio"]:checked ~ label{color:orange;}

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 50px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

/*
membresia
 */

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;

}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

#imagen{
  background: url('../img/plan_oro.png');
  background-size:cover;
}

#imagen2{
  background: url('../img/plan_BASICO.png') center / cover;
}

#imagen3{
  background: url('../img/plan_gratis.png') center / cover;
}
/*
Estilos para fondo transparente oscuro para subcategoria
 */

.fondoTrans{
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  background-color:rgba(0,0,0,.7);
}

.fondoTransSpan{
  background-color: #efc619;
  padding: 5px;
  border-radius: 5px;
  background-color:rgba(239,198,25,.7);
}

.angular-google-map-container {
  height: 400px;
}

.angular-google-map{
  height: 400px;
}


